#root {
  margin: 0 auto;
}

body {
  margin: 0;
}


.button {
  color: white;
  background-color: #035A9D;
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  background-color: #252F42;
}

.tabContainer {
  width: 150px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px
}